* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --color-primary: #e4e0ce;
    --color-secondary: #432918;
}

body {
    background-color: var(--color-primary);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

section img:first-child {
    height: 500px;
}
